* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
}
.container {
min-width: 1200px;
margin: 0 auto;
width: 1200px;
}

header {
  .main-header {
    .header-top {
      display: flex;
      justify-content: flex-end;
      padding-top: 5px;

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;

        li {
          a {
            color: #999;
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }

    .header-buttom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        img {
          width: 146px;
          height: 100%;
          margin-bottom: -3px;
        }
      }

      .search-input {
        width: 600px;
        position: relative;

        input {
          width: 100%;
          flex: 1;
          font-size: 14px;
          color: #333;
          background-color: #f3f3f3;
          border: 2px solid rgba(0, 0, 0, 0);
          border-radius: 6px;
          padding: 10px 40px 10px 15px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: none;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
          line-height: 0;
        }

        i {
          position: absolute;
          top: 35%;
          right: 15px;
          color: #f27a1a;
          font-size: 18px;
        }
      }

      .account-navigator {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 40px;
        padding-top: 2px;

        a {
          display: flex;

          &:hover .icon {
            .silver {
              opacity: 0;
              transition: opacity 0.4s ease;
            }

            .orange {
              opacity: 1;
              transition: opacity 0.4s ease;
            }
          }

          &:hover p {
            color: #f27a1a;
            transition: color 0.4s ease;
          }

          .icon {
            position: relative;

            .silver {
              height: 16px;
              width: 16px;
              opacity: 1;
              transition: opacity 0.4s ease;
            }

            .orange {
              position: absolute;
              top: -1px;
              left: 0px;
              height: 16px;
              width: 16px;
              opacity: 0;
              transition: opacity 0.4s ease;
            }
          }

          p {
            font-family: source_sans_prosemibold, sans-serif !important;
            -webkit-font-smoothing: antialiased;
            font-size: 13px;
            color: #333333;
            padding-left: 5px;
            margin-top: 2px;
            transition: color 0.4s;
          }
        }

        .log-reg {
          img {
            margin-bottom: 2px !important;
          }
        }

        .basket {
          img {
            height: 18px !important;
            width: 18px !important;
          }
        }
      }
    }
  }

  .header-nav {
    background-color: #fff;
    border: none !important;
    border-bottom: 1px solid #e8e8e8 !important;
    height: 34px;
    box-shadow: none !important;
    position: relative;
    z-index: 900;

    nav {
      position: relative;

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          a {
            font-family: source_sans_prosemibold, sans-serif !important;
            color: #333;
            font-size: 14px;
            line-height: 34px;
            letter-spacing: 0.18px;
          }
        }
      }
    }
  }
}
main {
  background-color: #fafafa;
  section {
    width: 415px;
    margin: 0 auto;
    padding-block: 40px;
    .login-welcome {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: -20px 0px 20px 0px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      h1 {
        font-size: 22px;
        font-weight: 400;
      }
    }
    .login-header {
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      h1 {
        width: 205px;
        border: 1px solid #e6e6e6;
        border-radius: 5px 5px 0px 0px;
        height: 50px;
        border-bottom: none;
        background: #fff;
        text-align: center;
        font-size: 15px;
        color: #f27a1a;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        padding-top: 17px;
        &:last-child{
          background: #e3e3e3;
          color: #515151;
        }
      }
    }
    .login-input {
      border: 1px solid #e6e6e6;
      border-top: 0;
      padding: 35px 40px 40px;
      background-color: #fff; 
      display: flex;
      flex-direction: column;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      .inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        label {
          display: block;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          padding: 0;
          color: #333;
          margin-bottom: 10px;
          font-family: system-ui;
        }
        input {
          font-size: 14px;
          border: 1px solid #e6e6e6;
          height: 40px;
          font-family: system-ui;
          color: #4b4b4b;
          outline: none;
          line-height: 30px;
          outline: none;
          padding: 0 10px;
          width: 100% !important;
          border-radius: 3px !important;
          background-color: #fafafa !important;
          &:focus {
            border: 1px solid #b6b6b6;
          }
        }
      }
      span {
        margin-top: 15px;
        font-size: 14px;
        text-align: end;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        a {
          color: #000;
          text-decoration: underline;
          transition: 0.2s;
          &:hover {
            color: #f27a1a;
            transition: 0.2s;
          }
        }
      }
      button {
        margin-block: 20px;
        height: 44px;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        letter-spacing: 0.8px;
        font-family: 'Open Sans';
        font-weight: 600;
        background: #f27a1a;
        color: #fff;
        transition: 0.2s;
        &:hover{
          background-color: #ff8b39;
          transition: 0.3s;
        }
      }
      .social-login {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .facebook-login {
          border: solid 1px #e6e6e6;
          padding-block: 4px;
          width: 160px;
          display: flex;
          padding: 1px 40px 1px 12px;
          border-radius: 7px;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: #f6f6f6;
            transition: 0.3s;
          }
          .facebook-background {
            width: 30px;
            background-color: rgb(76, 110, 168);
            height: 30px;
            border-radius: 4px;
            padding: 6px 0px 0px 9.5px;
            font-size: 17px;
            color: #fff;
          }
          .facebook-login-text {
            font-family: system-ui;
            margin-bottom: 5px;
            span {
              font-weight: 400;
              letter-spacing: 0.2px;
              font-size: 14px;
            }
            p {
              font-size: 11px;
              color: #949494;
              margin-top: -3px;
            }
          }
        }
        .google-login {
          border: solid 1px #e6e6e6;
          padding-block: 4px;
          width: 160px;
          display: flex;
          padding: 1px 45px 1px 12px;
          border-radius: 7px;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background: #f6f6f6;
            transition: 0.3s;
          }
          .google-background {
            background-color: rgb(241, 66, 54);
            width: 30px;
            height: 30px;
            border-radius: 4px;
            padding: 7px 0px 0px 7px;
            font-size: 17px;
            color: #fff;
          }
          .google-login-text {
            font-family: system-ui;
            margin-bottom: 5px;
            span {
              font-weight: 400;
              letter-spacing: 0.2px;
              font-size: 14px;
            }
            p {
              font-size: 11px;
              color: #949494;
              margin-top: -3px;
            }
          }
        }
      }
      p {
        color: #666;
        margin-top: 20px;
        font-size: 12px;
        line-height: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        a {
          color: #333;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
footer {
  background-color: black;
  .container-main {
    max-width: 70%;
    margin: 0 auto;
    .list_foot {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      padding-top: 45px;
      .list-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .footer-links {
          margin-block: 24px;
        }
        .footer1-app {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 260px;
          .troy {
            background-image: url(../img/footer-images/troy-logo-transparent.webp);
            width: 61px;
            height: 29px;
            background-size: cover;
          }
          .master {
            background-image: url(../img/footer-images/footer-master-card.webp);
            width: 34px;
            height: 31px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .visa {
            background-image: url(../img/footer-images/footer-visa-black.webp);
            width: 72px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
          }
          .american {
            background-image: url(../img/footer-images/footer-amex.webp);
            width: 51px;
            height: 22px;
            background-size: cover;
            background-position: center;
            margin-top: 3px;
          }
        }
        .footer2-app {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 145px;
          .app-store {
            background-image: url(../img/footer-images/iosV2.svg);
            width: 140px;
            height: 41px;
            background-repeat: no-repeat;
          }
          .google-play {
            background-image: url(../img/footer-images/googleV2.svg);
            width: 140px;
            height: 41px;
            background-repeat: no-repeat;
          }
          .huawei {
            background-image: url(../img/footer-images/huaweiV2.svg);
            width: 140px;
            height: 41px;
            background-repeat: no-repeat;
          }
        }
        .footer3-app {
          a {
            color: #000;
            .fa-facebook-f {
              border-radius: 20px;
              padding: 6.5px 0px 0px 9px;
              font-size: 15px;
              width: 28px;
              height: 28px;
              background: #fff;
              transition: 0.3s ease-in;
              &:hover {
                background-color: #1c1cb6;
                transition: 0.3s ease-in-out;
              }
            }
            .fa-instagram {
              transition: 0.3s ease-in;
              &:hover {
                background-color: #9f0051;
                transition: 0.3s ease-in-out;
              }
            }
            .fa-twitter {
              transition: 0.3s ease-in;
              &:hover {
                background-color: #0984bb;
                transition: 0.3s ease-in-out;
              }
            }
            .fa-youtube {
              border-radius: 20px;
              padding: 6.5px 0px 0px 6px;
              font-size: 15px;
              width: 28px;
              height: 28px;
              background: #fff;
              transition: 0.3s ease-in;
              &:hover {
                background-color: #c92c2c;
                transition: 0.3s ease-in-out;
              }
            }
            i {
              border-radius: 20px;
              padding: 6.5px 0px 0px 7.5px;
              font-size: 15px;
              width: 28px;
              height: 28px;
              background: #fff;
            }
          }
        }
        .footer4-app {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 180px;
          a {
            .qr-code {
              width: 90px;
              height: 101px;
              background-color: #fff;
              padding: 5px;
              img {
                width: 80px;
              }
            }
          }
          a {
            .tr-go {
              background-image: url(../img/footer-images/trust-stamp.webp);
              width: 50px;
              height: 50px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
        button {
          border: solid 1px #fff;
          text-align: center;
          cursor: pointer;
          font-size: 14px;
          width: 95px;
          color: #fff;
          background-color: #000;
          border-radius: 6px;
          font-weight: 600;
          margin-bottom: 20px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 125px;
          li {
            font-size: 13px;
            color: #fff;
          }
        }
        a {
          color: #fff;
        }
        h4 {
          font-size: 22px;
          font-weight: 400;
        }
        span {
          color: #fff;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .footer-foot {
    padding: 10px;
    background: #2d2d2d;
    .container-main {
      .foot-flex {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 11px;
          color: white;
          font-weight: 600;
          font-family: system-ui;
          letter-spacing: 0.12px;
        }
        .footer-link {
          ul {
            display: flex;
            justify-content: space-between;
            width: 395px;
            li {
              a {
                font-size: 11.7px;
                color: #fff;
                font-family: system-ui;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
